.modal__content {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 430px;
    min-width: 330px;
    padding: 34px 36px;
}


@media screen and (max-width: 575px) {
    .modal__content {
        margin: 0 19px;
        min-width: 0;
        padding: 22px 25px;
    }
}