.profile {
  display: flex;
  max-width: 880px;
  margin: 36.25px auto 46.25px;
  justify-content: space-between;
}

@media screen and (max-width: 925px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 675px) {
  .profile {
    margin: 38.25px auto 36px;
  }
}