.profile__add-button {
    border: 2px solid white;
    margin-left: auto;
    background: transparent url("../../../images/plus.svg") center no-repeat;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    background-size: 22px;
    transition: 0.3s;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .profile__add-button {
        width: 50px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .profile__add-button {
        width: 100%;
    }
}
