.profile__add-button {
    padding: 14px 64px;
    border: 2px solid white;
    margin-left: auto;
    background: transparent;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .profile__add-button {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .profile__add-button {
        width: 100%;
    }
}