.profile__edit-button {
  background: transparent url(../../../images/edit-icon.svg) no-repeat center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: 30px;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 925px) {
  .profile__edit-button {
    margin: 32px 0 0 18px;
  }
}

@media screen and (max-width: 675px) {
  .profile__edit-button {
    margin-top: 14px;
  }
}

@media screen and (max-width: 475px) {
  .profile__edit-button {
    background-image: url(../../../images/edit-icon--small.svg);
    margin: 0 0 5px 10px;
    width: 18px;
    height: 18px;
  }
}