.profile__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 475px) {
  .profile__title {
      font-size: 14px;
      line-height: 17px;
      margin-top: 14px;
      max-width: 200px;
  }
}