.modal__input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-style: unset;
  border-bottom: 1px solid rgb(0,0,0,.2);
  padding-bottom: 13.26px;
  margin-bottom: 30px;
}

.modal__input:focus-visible {
  outline: none;
}