.modal__button {
    background: #000000;
    border-radius: 2px;font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 18px;
    margin-top: 48px;
}
