.profile__add-button {
  background: transparent url(../../../images/add-icon.svg) no-repeat center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  padding: 0;
  margin: 30px 0 0 165px;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 925px) {
  .profile__add-button {
    width: 282px;
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 475px) {
  .profile__add-button {
    background-size: 16px;
  }
}