.card__title {
    max-width: 220px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    color: black;
}